---
component: blogbar
---
    <div class="titlebar">
      <div class="titletext">
        <a href="blog.html" class="titlelnk">Блог</a> <span style="color:lightgrey">/</span> <a href="#" class="titlelnk">{{ title }}</a>
      </div>
    </div>
