---
component: footer
---

    <div class="footer">
      <div class="left">© 2015 Denis Trofimov</div>

      <div class="right"><a href="sitemap.xml" class="footerlnk">Карта сайта</a></div>
    </div>
