---
component: header
---
    <div class="flexbar topbar">
      <div class="toplogo">
        <a href="{{relative page.dest "dist/index.html"}}" class="logolink">D</a>
      </div>
      <div class="topnav">
        <a href="{{relative page.dest "dist/blog.html"}}" class="navlink">Блог</a>
      </div>
      <div class="search">
        <input type="search" placeholder="search..." />
      </div>
    </div>
