---
component: navbar
---

    <div class="flexbar infobar">
      <div> <i class="fa fa-clock-o mrspace"></i> {{ postdate }} </div>
      <div> <i class="fa fa-user mrspace"></i> <a href="{{ postauthorpage }}" class="navlink">{{ postauthor }}</a> </div>
    </div>
